:root {
  --toc__b2tOffset: 0;
}

.toc__label {
  color: #eee;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 0.75em 0.25em;
  border-radius: 0.5em 0.5em 0 0;
  background: #333;
}
.toc > ul {
  padding: 1em;
  border: solid 0.25em;
  border-radius: 0 0 .5em .5em;
  margin-top: unset;
}
.toc:not(:has(.toc__label)) > ul {
  border-radius: 0.5em;
}
.toc > ul li ul {
  padding-left: unset;
}
.toc ul li::marker {
  margin-right: 0.25em;
}
.toc ul li {
  list-style-type: 'âº ';
  margin: unset;
  margin-left: 2.5ch;
  margin-top: 0.25em;
}
.toc > ul > li:first-of-type {
  margin-top: unset;
}

:has(> .toc-b2t) {
  position: relative;
}
.toc-b2t {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.toc-b2t__link {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25em 1em;
  background: #777;
  position: sticky;
  top: var(--toc__b2tOffset);
  opacity: 0;
  transition: opacity 300ms;
}
.toc-b2t__link.is--hidden {
  visibility: hidden;
}
.toc-b2t__link.is--visible {
  opacity: 1;
  pointer-events: all;
}
