<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.modified" content="{{ page.pubDate }}">
    
    <link rel="stylesheet" href="{{ page.manifest['theme.css'] }}">
  </head>
  <body>
    <main class="page">
      <nav class="page__main-menu">
        {% assign navPages = collections.page | eleventyNavigation %}
        <ul>
        {%- for entry in navPages %}
          <li {% if entry.url == page.url %}class="is--current"{% endif %}>
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
      <article>
        <h1 class="page__title">{{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}</h1>
        <div class="page__timestamp">
          Published: <time datetime="{{ page.pubDate }}">{{ page.pubDate }}</time>
        </div>
        {{ content }}
      </article>
    </main>
  </body>
</html>
