<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% capture pageTitle %}{{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}{% endcapture %}
    <title>{{ pageTitle }}</title>
    <meta name="title" content="{{ pageTitle }}" />
    <meta name="description" content="{{ constants.desc }}" />
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.ogURL }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ constants.desc }}" />
    <meta property="og:image" content="/imgs/og-img.jpg" />
    
    <link rel="icon" href="/imgs/favicon.svg" sizes="any" type="image/svg+xml">
    
    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.modified" content="{{ page.pubDate }}">
    
    {%- for file in page.pluginDeps.css -%}
      <link rel="stylesheet" href="{{ manifest[file] }}">
    {%- endfor -%}
    <link rel="stylesheet" href="{{ manifest['css/theme.css'] }}">
  </head>
  <body>
    {% if page.pluginDeps.svg %}
      <style id="pluginIconStyles">.plugin-icon { width: 1em; height: 1em; }</style>
      <svg id="pluginIcons" width="0" height="0" style="position:absolute">  
        {%- for svg in page.pluginDeps.svg -%}
          <symbol id="{{ svg.id }}" viewBox="{{ svg.viewBox }}" xmlns="http://www.w3.org/2000/svg">
            {{ svg.content }}
          </symbol>
        {%- endfor -%}
      </svg>
    {% endif %}
    <div class="wrapper">
      <main class="page">
        <header>
          <nav class="page__main-menu">
            {% assign navPages = collections.page | eleventyNavigation %}
            <ul>
            {%- for entry in navPages %}
              <li {% if entry.url == page.url %}class="is--current"{% endif %}>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
            </ul>
          </nav>
          <h1
            class="page__title"
            data-text="{{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}"
          >
            <div>
              {{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}
            </div>
          </h1>
        </header>
        <article class="for--{{ page.class }}">
          <div class="page__timestamp">
            Published: <time datetime="{{ page.pubDate }}">{{ page.pubDate }}</time>
          </div>
          {{ content }}
        </article>
      </main>
    </div>
    {%- for file in page.pluginDeps.js -%}
      <script src="{{ manifest[file] }}"></script>
    {%- endfor -%}
  </body>
</html>
