<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.modified" content="{{ page.pubDate }}">
    
    <link rel="stylesheet" href="{{ manifest['css/theme.css'] }}">
    <link rel="stylesheet" href="{{ manifest['css/prism-tomorrow.css'] }}">
  </head>
  <body>
    <main class="page">
      <header>
        <nav class="page__main-menu">
          {% assign navPages = collections.page | eleventyNavigation %}
          <ul>
          {%- for entry in navPages %}
            <li {% if entry.url == page.url %}class="is--current"{% endif %}>
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
        </nav>
        <h1
          class="page__title"
          data-text="{{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}"
        >
          <div>
            {{ constants.title }}{% if subTitle %}: {{ subTitle }}{% endif %}
          </div>
        </h1>
      </header>
      <article class="for--{{ page.class }}">
        <div class="page__timestamp">
          Published: <time datetime="{{ page.pubDate }}">{{ page.pubDate }}</time>
        </div>
        {{ content }}
      </article>
    </main>
  </body>
</html>
